In [16]:
import pandas as pd
df1 = pd.read_csv("C:/Users/sandr/Downloads/England_GDP.csv")
GDP_Year_Dirty = df1[["Back to front page", "Unnamed: 8"]]
GDP_Year_Clean = GDP_Year_Dirty.loc[16:332, ['Back to front page', 'Unnamed: 8']].rename(index=str, columns={"Back to front page": "Years", "Unnamed: 8": "Real GDP" })
GDP_Year_Clean

    Years Real GDP
16   1700     8710
17   1701     9491
18   1702     9246
19   1703     8654
20   1704    10303
21   1705     9778
22   1706     8281
23   1707     9303
24   1708     9903
25   1709     8579
26   1710     7800
27   1711     8504
28   1712     8496
29   1713     8132
30   1714     8945
31   1715     8694
32   1716     9023
33   1717     9531
34   1718    10070
35   1719     9892
36   1720    10523
37   1721    10113
38   1722    10221
39   1723     9975
40   1724     9875
41   1725    10133
42   1726     9820
43   1727     9761
44   1728    10059
45   1729     9500
..    ...      ...
303  1987   888129
304  1988   938917
305  1989   963941
306  1990   972354
307  1991   965888
308  1992   971001
309  1993   996759
310  1994  1032649
311  1995  1055256
312  1996  1080289
313  1997  1111728
314  1998  1147882
315  1999  1187297
316  2000  1232683
317  2001  1262715
318  2002  1288715
319  2003  1335285
320  2004  1366035
321  2005  1411760
322  2006  1447230
323  2007  1484712
324  2008  1477217
325  2009  1409384
326  2010  1436759
327  2011  1457397
328  2012  1473555
329  2013  1495378
330  2014  1545613
331  2015  1583036
332  2016  1612329

[317 rows x 2 columns]

In [9]:
python -m pip install datascience

SyntaxError: invalid syntax (<ipython-input-9-f862981cee73>, line 1)

In [29]:
GDP_Year = GDP_Year_Dirty[GDP_Year_Dirty["Unnamed: 8"] >= 8710]

TypeError: '>=' not supported between instances of 'str' and 'int'